In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([12, -4, 7, 9])
s

0    12
1    -4
2     7
3     9
dtype: int64

In [4]:
s = pd.Series([12, -4, 7, 9], index=['a', 'b', 'c', 'd'])
s

a    12
b    -4
c     7
d     9
dtype: int64

In [5]:
s[2]      # 7

/var/folders/5z/_4ymrqb55gl_n9nt577w6kkm0000gn/T/ipykernel_84656/1713805820.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2]      # 7

np.int64(7)

In [6]:
s.iloc[2]

np.int64(7)

In [7]:
s['b']

np.int64(-4)

In [9]:
s[0:2]              # a    12, b   -4
      # b   -4, c    7

a    12
b    -4
dtype: int64

In [10]:
s[['b', 'c']]

b   -4
c    7
dtype: int64

In [19]:
s.iloc[1] = 0
s['b'] = 999
s

a     12
b    999
c      7
d      9
dtype: int64

In [20]:
arr = np.array([1, 2, 3, 4])
s3 = pd.Series(arr)
s3

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
s[s > 8]

a     12
b    999
d      9
dtype: int64

In [22]:
s / 2

a      6.0
b    499.5
c      3.5
d      4.5
dtype: float64

In [23]:
np.log(s)

a    2.484907
b    6.906755
c    1.945910
d    2.197225
dtype: float64

# Series Analysis
| Метод                    | Опис                                                                 |
|--------------------------|----------------------------------------------------------------------|
| `Series.unique()`        | Повертає масив унікальних значень у Series                          |
| `Series.value_counts()`  | Повертає кількість повторень кожного значення у Series               |
| `Series.isin([...])`     | Повертає маску (True/False), чи входить значення до заданого списку  |

In [29]:
serd = pd.Series([1,0,2,1,2,3],
                 index=['white','white','blue','green','green','yellow'])
serd

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

In [30]:
serd.unique()

array([1, 0, 2, 3])

In [31]:
serd.value_counts()

1    2
2    2
0    1
3    1
Name: count, dtype: int64

In [32]:
serd.isin([0, 3])

white     False
white      True
blue      False
green     False
green     False
yellow     True
dtype: bool

NAN values
| Метод                  | Опис                                                                 | Приклад                               |
|------------------------|----------------------------------------------------------------------|----------------------------------------|
| `Series.isnull()`      | Повертає маску: `True`, якщо значення є `NaN`                        | `s.isnull()`                           |
| `Series.notnull()`     | Повертає маску: `True`, якщо значення **не** є `NaN`                 | `s.notnull()`                          |
| `Series.isna()`        | Синонім до `isnull()`                                                | `s.isna()`                             |
| `Series.notna()`       | Синонім до `notnull()`                                               | `s.notna()`                            |
| `Series[mask]`         | Фільтрація за маскою                                                 | `s[s.notnull()]`                       |
| `Series.fillna(value)` | Замінює всі `NaN` на задане значення                                 | `s.fillna(0)`                          |
| `Series.dropna()`      | Видаляє всі елементи, де значення — `NaN`                            | `s.dropna()`                           |

In [36]:
# Створимо Series з пропущеними значеннями
s = pd.Series([10, np.nan, 30, np.nan, 50])

print("Початкова Series:")
print(s)

# isnull: де значення пропущене
print("\nМаска isnull():")
print(s.isnull())

# notnull: де значення присутнє
print("\nМаска notnull():")
print(s.notnull())

# isna/notna — те саме:
print("\nisna():", s.isna())
print("notna():", s.notna())

# Фільтрація лише непорожніх значень
print("\nФільтрація (s[s.notnull()]):")
print(s[s.notnull()])

# Заповнення пропущених значень нулями
print("\nЗаповнення NaN нулями:")
print(s.fillna(0))

# Видалення рядків з NaN
print("\nВидалення NaN (dropna):")
print(s.dropna())

Початкова Series:
0    10.0
1     NaN
2    30.0
3     NaN
4    50.0
dtype: float64

Маска isnull():
0    False
1     True
2    False
3     True
4    False
dtype: bool

Маска notnull():
0     True
1    False
2     True
3    False
4     True
dtype: bool

isna(): 0    False
1     True
2    False
3     True
4    False
dtype: bool
notna(): 0     True
1    False
2     True
3    False
4     True
dtype: bool

Фільтрація (s[s.notnull()]):
0    10.0
2    30.0
4    50.0
dtype: float64

Заповнення NaN нулями:
0    10.0
1     0.0
2    30.0
3     0.0
4    50.0
dtype: float64

Видалення NaN (dropna):
0    10.0
2    30.0
4    50.0
dtype: float64

# Dictionary to Series

In [37]:
mydict = {'red': 2000, 'blue': 1000, 'yellow': 500, 'orange': 1000}
myseries = pd.Series(mydict)
myseries

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [39]:
colors = ['red', 'yellow', 'orange', 'blue', 'green']
myseries = pd.Series(mydict, index=colors)
myseries

red       2000.0
yellow     500.0
orange    1000.0
blue      1000.0
green        NaN
dtype: float64

In [40]:
mydict2 = {'red': 400, 'yellow': 1000, 'black': 700}
myseries2 = pd.Series(mydict2)
result = myseries + myseries2
result

black        NaN
blue         NaN
green        NaN
orange       NaN
red       2400.0
yellow    1500.0
dtype: float64

# Nan значення

In [5]:
import pandas as pd
import numpy as np
ser = pd.Series([0, 1, 2, np.nan, 9], index=['red','blue','yellow','white','green'])
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

In [8]:
frame3 = pd.DataFrame(
    [[6, np.nan, 6], [np.nan, np.nan, np.nan], [2, np.nan, 5]],
    index=['blue', 'green', 'red'],
    columns=['ball', 'mug', 'pen']
)

frame3.dropna()

Empty DataFrame
Columns: [ball, mug, pen]
Index: []

In [9]:

frame3.dropna(how='all')

      ball  mug  pen
blue   6.0  NaN  6.0
red    2.0  NaN  5.0

In [11]:
frame3.fillna(0)

       ball  mug  pen
blue    6.0  0.0  6.0
green   0.0  0.0  0.0
red     2.0  0.0  5.0

In [12]:

frame3.fillna({'ball': 1, 'mug': 0, 'pen': 99})

       ball  mug   pen
blue    6.0  0.0   6.0
green   1.0  0.0  99.0
red     2.0  0.0   5.0

# Reading and writing data

In [13]:
import pandas as pd
csvframe = pd.read_csv('ch05_01.csv')
csvframe

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [15]:
pd.read_csv('ch05_01.csv', header=None)

       0    1     2      3       4
0  white  red  blue  green  animal
1      1    5     2      3     cat
2      2    7     8      5     dog
3      3    3     6      7   horse
4      2    2     8      3    duck
5      4    4     2      1   mouse

In [17]:
frame = pd.DataFrame(
    np.arange(16).reshape((4,4)),
    index=['red','blue','yellow','white'],
    columns=['ball','pen','pencil','paper']
)
frame.to_csv('ch05_07.csv')

In [20]:
pd.read_excel('ch05_data2.xlsx', index_col=0)

       Jan2015   Fab2015   Mar2015   Apr2005
exp1  0.848463  0.632592  0.734460  0.436454
exp2  0.175839  0.857122  0.323861  0.768413
exp3  0.819664  0.616889  0.604744  0.089446
exp4  0.154310  0.783313  0.278686  0.609380

In [18]:
frame = pd.DataFrame(
    np.random.random((4, 4)),
    index=['exp1','exp2','exp3','exp4'],
    columns=['Jan2015','Fab2015','Mar2015','Apr2005']
)
frame.to_excel('ch05_data2.xlsx')

In [21]:
df1 = pd.DataFrame(
    np.random.random((4, 4)),
)
df2 = pd.DataFrame(
    np.random.random((7, 7)),
)
with pd.ExcelWriter('multiple_sheets.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Sheet1')
    df2.to_excel(writer, sheet_name='Sheet2')