In [19]:
import pandas as pd
import numpy as np

In [20]:
data = {
    'color': ['blue', 'green', 'yellow', 'red', 'white'],
    'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
    'price': [1.2, 1.0, 0.6, 0.9, 1.7]
}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [21]:
frame2 = pd.DataFrame(data, columns=['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [22]:
frame2 = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five'])
frame2

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [23]:
frame3 = pd.DataFrame(
    np.arange(16).reshape((4, 4)),
    index=['red', 'blue', 'yellow', 'white'],
    columns=['ball', 'pen', 'pencil', 'paper']
)
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [24]:
frame.columns

Index(['color', 'object', 'price'], dtype='object')

In [25]:
frame.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
frame.values

array([['blue', 'ball', 1.2],
       ['green', 'pen', 1.0],
       ['yellow', 'pencil', 0.6],
       ['red', 'paper', 0.9],
       ['white', 'mug', 1.7]], dtype=object)

In [27]:
frame['price']

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [28]:
frame.price

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [29]:
frame.loc[2]

color     yellow
object    pencil
price        0.6
Name: 2, dtype: object

In [30]:
frame.loc[[2,4]]

    color  object  price
2  yellow  pencil    0.6
4   white     mug    1.7

In [31]:
frame[0:1] # один рядок

  color object  price
0  blue   ball    1.2

In [32]:
frame[1:3]

    color  object  price
1   green     pen    1.0
2  yellow  pencil    0.6

In [33]:
frame['object'][3]

'paper'

In [34]:
frame.index.name = 'id'
frame.columns.name = 'item'
frame

item   color  object  price
id
0       blue    ball    1.2
1      green     pen    1.0
2     yellow  pencil    0.6
3        red   paper    0.9
4      white     mug    1.7

In [35]:
frame['new'] = 12
frame

item   color  object  price  new
id
0       blue    ball    1.2   12
1      green     pen    1.0   12
2     yellow  pencil    0.6   12
3        red   paper    0.9   12
4      white     mug    1.7   12

In [37]:
frame['new'] = [3.0, 1.3, 2.2, 0.8, 1.1]
frame

item   color  object  price  new
id
0       blue    ball    1.2  3.0
1      green     pen    1.0  1.3
2     yellow  pencil    0.6  2.2
3        red   paper    0.9  0.8
4      white     mug    1.7  1.1

In [39]:
ser = pd.Series(np.arange(5))
frame['new'] = ser
frame

item   color  object  price  new
id
0       blue    ball    1.2    0
1      green     pen    1.0    1
2     yellow  pencil    0.6    2
3        red   paper    0.9    3
4      white     mug    1.7    4

In [40]:
frame['price'][2] = 3.3

/var/folders/5z/_4ymrqb55gl_n9nt577w6kkm0000gn/T/ipykernel_98709/1916468892.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  frame['price'][2] = 3.3
/var/folders/5z/_4ymrqb55gl_n9nt577w6kkm0000gn/T/ipykernel_98709/1916468892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['price'][2] = 3.3

In [41]:
frame.loc[2, 'price'] = 3.3

In [42]:
frame

item   color  object  price  new
id
0       blue    ball    1.2    0
1      green     pen    1.0    1
2     yellow  pencil    3.3    2
3        red   paper    0.9    3
4      white     mug    1.7    4

In [44]:
frame.isin([1.0, 'pen', 1.7])

item  color  object  price    new
id
0     False   False  False  False
1     False    True   True   True
2     False   False  False  False
3     False   False  False  False
4     False   False   True  False

In [46]:
frame[frame.isin([1.0, 'pen', 1.7])]

item color object  price  new
id
0      NaN    NaN    NaN  NaN
1      NaN    pen    1.0  1.0
2      NaN    NaN    NaN  NaN
3      NaN    NaN    NaN  NaN
4      NaN    NaN    1.7  NaN

In [47]:
del frame['new']
frame

item   color  object  price
id
0       blue    ball    1.2
1      green     pen    1.0
2     yellow  pencil    3.3
3        red   paper    0.9
4      white     mug    1.7

In [48]:
frame[frame['price'] < 1.2]

item  color object  price
id
1     green    pen    1.0
3       red  paper    0.9

In [49]:
nestdict = {
    'red': {2012: 22, 2013: 33},
    'white': {2011: 13, 2012: 22, 2013: 16},
    'blue': {2011: 17, 2012: 27, 2013: 18}
}
frame2 = pd.DataFrame(nestdict)
frame2

       red  white  blue
2012  22.0     22    27
2013  33.0     16    18
2011   NaN     13    17

In [50]:
frame2.T

       2012  2013  2011
red    22.0  33.0   NaN
white  22.0  16.0  13.0
blue   27.0  18.0  17.0

# Index objects

In [51]:
ser = pd.Series([5, 0, 3, 8, 4], index=['red', 'blue', 'yellow', 'white', 'green'])
ser.index

Index(['red', 'blue', 'yellow', 'white', 'green'], dtype='object')

In [52]:
ser.idxmin()

'blue'

In [53]:
ser.idxmax()

'white'

In [54]:
serd = pd.Series(range(6), index=['white','white','blue','green','green','yellow'])
serd

white     0
white     1
blue      2
green     3
green     4
yellow    5
dtype: int64

In [55]:
serd['white']

white    0
white    1
dtype: int64

In [56]:
# Перевірка унікальності індексу
serd.index.is_unique

False

In [57]:

frame = pd.DataFrame({
    'color': ['blue', 'green', 'yellow', 'red', 'white'],
    'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
    'price': [1.2, 1.0, 0.6, 0.9, 1.7]
})
frame.index.is_unique

True

# Reindexing

In [59]:
ser = pd.Series([2, 5, 7, 4], index=['one', 'two', 'three', 'four'])
ser.reindex(['three','four','five','one'])

three    7.0
four     4.0
five     NaN
one      2.0
dtype: float64

In [63]:
ser3 = pd.Series([1, 5, 6, 3], index=[0, 3, 5, 6])
ser3

0    1
3    5
5    6
6    3
dtype: int64

In [64]:
ser3.reindex(range(6), method='ffill')

0    1
1    1
2    1
3    5
4    5
5    6
dtype: int64

In [65]:
ser3.reindex(range(6), method='bfill')

0    1
1    5
2    5
3    5
4    6
5    6
dtype: int64

# Dropping

In [66]:
frame = pd.DataFrame(np.arange(16).reshape((4, 4)),
                     index=['red', 'blue', 'yellow', 'white'],
                     columns=['ball', 'pen', 'pencil', 'paper'])

frame = frame.drop(['blue', 'yellow'])
frame

       ball  pen  pencil  paper
red       0    1       2      3
white    12   13      14     15

In [67]:
frame = frame.drop(['pen', 'pencil'], axis=1)
frame

       ball  paper
red       0      3
white    12     15

# Arithmetic operations

In [68]:
frame1 = pd.DataFrame(np.arange(16).reshape((4, 4)),
                      index=['red', 'blue', 'yellow', 'white'],
                      columns=['ball', 'pen', 'pencil', 'paper'])

frame2 = pd.DataFrame(np.arange(12).reshape((4, 3)),
                      index=['blue', 'green', 'white', 'yellow'],
                      columns=['mug', 'pen', 'ball'])

frame1 + frame2

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

In [71]:
frame1.add(frame2)

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

In [74]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red','blue','yellow','white'],
                     columns=['ball','pen','pencil','paper'])

frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [75]:
ser = pd.Series(np.arange(4), index=['ball','pen','pencil','paper'])
ser

ball      0
pen       1
pencil    2
paper     3
dtype: int64

In [76]:
frame - ser

        ball  pen  pencil  paper
red        0    0       0      0
blue       4    4       4      4
yellow     8    8       8      8
white     12   12      12     12

In [81]:
frame = pd.DataFrame(np.arange(16).reshape((4, 4)),
                     index=['red', 'blue', 'yellow', 'white'],
                     columns=['ball', 'pen', 'pencil', 'paper'])

frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [82]:
np.sqrt(frame)

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

In [79]:
f = lambda x: x.max() - x.min()
frame.apply(f)

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [80]:

frame.apply(f, axis=1)

red       3
blue      3
yellow    3
white     3
dtype: int64

In [83]:
frame.sum()

ball      24
pen       28
pencil    32
paper     36
dtype: int64

In [84]:
frame.mean()

ball      6.0
pen       7.0
pencil    8.0
paper     9.0
dtype: float64

In [85]:
frame.describe()

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

# Sorting

In [87]:
ser = pd.Series([5, 0, 3, 8, 4],
                index=['red', 'blue', 'yellow', 'white', 'green'])

ser.sort_index()

blue      0
green     4
red       5
white     8
yellow    3
dtype: int64

In [88]:

ser.sort_index(ascending=False)

yellow    3
white     8
red       5
green     4
blue      0
dtype: int64

In [89]:
frame = pd.DataFrame(np.arange(16).reshape((4, 4)),
                     index=['red', 'blue', 'yellow', 'white'],
                     columns=['ball', 'pen', 'pencil', 'paper'])

frame.sort_index()

        ball  pen  pencil  paper
blue       4    5       6      7
red        0    1       2      3
white     12   13      14     15
yellow     8    9      10     11

In [90]:

frame.sort_index(axis=1)

        ball  paper  pen  pencil
red        0      3    1       2
blue       4      7    5       6
yellow     8     11    9      10
white     12     15   13      14

In [92]:
frame.sort_values(by='pen')

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [93]:

frame.sort_values(by=['pen', 'pencil'])

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

red       4.0
blue      1.0
yellow    2.0
white     5.0
green     3.0
dtype: float64