In [1]:
import pandas as pd

frame = pd.DataFrame({
    'color':  ['white','red','green','red','green'],
    'object': ['pen','pencil','pencil','ashtray','pen'],
    'price1': [5.56, 4.20, 1.30, 0.56, 2.75],
    'price2': [4.75, 4.12, 1.60, 0.75, 3.15]
})
frame

   color   object  price1  price2
0  white      pen    5.56    4.75
1    red   pencil    4.20    4.12
2  green   pencil    1.30    1.60
3    red  ashtray    0.56    0.75
4  green      pen    2.75    3.15

In [2]:
group = frame['price1'].groupby(frame['color'])
group          # об'єкт типу SeriesGroupBy

In [3]:
group.groups

{'green': [2, 4], 'red': [1, 3], 'white': [0]}

In [4]:
group.mean()

color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64

In [5]:
group.sum()

color
green    4.05
red      4.76
white    5.56
Name: price1, dtype: float64

In [9]:
frame = pd.DataFrame({
    'color':  ['white','red','green','red','green', 'red'],
    'object': ['pen','pencil','pencil','ashtray','pen', 'pencil'],
    'price1': [5.56, 4.20, 1.30, 0.56, 2.75, 4.20],
    'price2': [4.75, 4.12, 1.60, 0.75, 3.15, 4.12]
})
frame

   color   object  price1  price2
0  white      pen    5.56    4.75
1    red   pencil    4.20    4.12
2  green   pencil    1.30    1.60
3    red  ashtray    0.56    0.75
4  green      pen    2.75    3.15
5    red   pencil    4.20    4.12

In [10]:
ggroup = frame['price1'].groupby([frame['color'], frame['object']])
ggroup.groups

{('green', 'pen'): [4], ('green', 'pencil'): [2], ('red', 'ashtray'): [3], ('red', 'pencil'): [1, 5], ('white', 'pen'): [0]}

In [11]:
ggroup.sum()           # сума price1 для кожної пари ключів

color  object
green  pen        2.75
       pencil     1.30
red    ashtray    0.56
       pencil     8.40
white  pen        5.56
Name: price1, dtype: float64

In [12]:
frame[['price1','price2']].groupby(frame['color']).mean()

         price1    price2
color
green  2.025000  2.375000
red    2.986667  2.996667
white  5.560000  4.750000

In [13]:
frame.groupby(frame['color']).mean(numeric_only=True)

         price1    price2
color
green  2.025000  2.375000
red    2.986667  2.996667
white  5.560000  4.750000

In [17]:
frame

   color   object  price1  price2
0  white      pen    5.56    4.75
1    red   pencil    4.20    4.12
2  green   pencil    1.30    1.60
3    red  ashtray    0.56    0.75
4  green      pen    2.75    3.15
5    red   pencil    4.20    4.12

In [16]:
for name, grp in frame.groupby('color'):
    print(name)
    print(grp)

green
   color  object  price1  price2
2  green  pencil    1.30    1.60
4  green     pen    2.75    3.15
red
  color   object  price1  price2
1   red   pencil    4.20    4.12
3   red  ashtray    0.56    0.75
5   red   pencil    4.20    4.12
white
   color object  price1  price2
0  white    pen    5.56    4.75

In [18]:
# 1) вибір колонки ДО groupby
frame['price1'].groupby(frame['color']).mean()

color
green    2.025000
red      2.986667
white    5.560000
Name: price1, dtype: float64

In [19]:
# 2) вибір колонки ПІСЛЯ groupby
frame.groupby(frame['color'])['price1'].mean()

color
green    2.025000
red      2.986667
white    5.560000
Name: price1, dtype: float64

In [20]:
# 3) вибір колонки ПІСЛЯ агрегування числових
frame.groupby(frame['color']).mean(numeric_only=True)['price1']

color
green    2.025000
red      2.986667
white    5.560000
Name: price1, dtype: float64

In [21]:
means = frame.groupby('color').mean(numeric_only=True).add_prefix('mean_')
means
# колонки: mean_price1, mean_price2

       mean_price1  mean_price2
color
green     2.025000     2.375000
red       2.986667     2.996667
white     5.560000     4.750000

In [22]:
group = frame.groupby('color')
q60 = group['price1'].quantile(0.6)
q60

color
green    2.17
red      4.20
white    5.56
Name: price1, dtype: float64

In [25]:
def value_range(series):
    return series.max() - series.min()

rng = group['price1'].agg(value_range)
rng

color
range_green    1.45
range_red      3.64
range_white    0.00
Name: price1, dtype: float64

In [28]:
summary = group['price1'].agg(['mean', 'std', value_range])
summary

           mean       std  value_range
color
green  2.025000  1.025305         1.45
red    2.986667  2.101555         3.64
white  5.560000       NaN         0.00